<header>
  <a href="/">Ken Leung</a>
  <nav class="nav-links">
    <a href="/about/">About</a>
    <a href="/tags/">Tags</a>
  </nav>
</header>

<!-- <style>
  @media screen and (min-width: 768px) {
  }
</style> -->
